@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body, html {
  overflow-x: hidden;
}

body {
  position: relative;
}

.container .hero-section {
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  background-image: url("./assets/bg-curvy-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 15rem;
}
.container .hero-section .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.container .hero-section .navbar .navbar-brand {
  width: 150px;
}
.container .hero-section .navbar .navbar-brand img {
  width: 100%;
}
.container .hero-section .navbar .navbar-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.container .hero-section h1 {
  font-size: 35px;
  padding-block: 1rem;
  font-family: "Raleway", sans-serif;
}
.container .hero-section p {
  font-size: 16px;
  width: 25%;
  text-align: center;
  margin: 1.5rem auto;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
.container .hero-section .get-btn {
  padding: 0.75rem 4rem;
  border-radius: 30px;
  background: rgb(101, 226, 217);
  background: linear-gradient(90deg, rgb(101, 226, 217) 0%, rgb(51, 158, 204) 100%);
  border: none;
  font-family: "Open Sans", sans-serif;
}
.container .service-section {
  background-color: hsl(218, 28%, 13%);
  position: relative;
}
.container .service-section .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 5rem;
  width: 50%;
  margin: auto;
  place-items: center;
  position: relative;
  top: -7rem;
}
.container .service-section .parent .service-item {
  text-align: center;
  width: 26rem;
}
.container .service-section .parent .service-item h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-block: 1rem;
}
.container .service-section .parent .service-item p {
  line-height: 1.5;
  font-size: "Open Sans", sans-serif;
}
.container .productive-section {
  background: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  padding-inline: 10%;
  padding-left: 12%;
  margin: 0 auto;
}
.container .productive-section .img-div {
  width: 50%;
}
.container .productive-section .text-div {
  width: 50%;
  margin-block: auto;
}
.container .productive-section .text-div h2 {
  font-size: 30px;
  line-height: 1.3;
  font-family: "Raleway", sans-serif;
  margin-block: 1rem;
  width: 30%;
}
.container .productive-section .text-div p {
  width: 60%;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-block: 1rem;
}
.container .productive-section .text-div .last-child {
  margin-bottom: 3rem;
}
.container .productive-section .text-div .see-tag {
  padding-top: 4rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.container .testimonial-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: hsl(218, 28%, 13%);
  padding-block: 8rem;
  padding-bottom: 15rem;
  position: relative;
}
.container .testimonial-section .testimonial-card {
  width: 26rem;
  background-color: hsl(219, 30%, 18%);
  padding: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
.container .testimonial-section .testimonial-card p {
  width: 90%;
}
.container .testimonial-section .testimonial-card .nameCard {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 2rem;
}
.container .testimonial-section .testimonial-card .nameCard .testimonial-img {
  width: 50px;
  border-radius: 50%;
}
.container .testimonial-section .testimonial-card .nameCard h6 {
  padding-top: 6px;
  opacity: 0.7;
}
.container .testimonial-section .first-card {
  position: relative;
}
.container .testimonial-section .quotes-icon {
  position: absolute;
  top: 6rem;
  left: 17rem;
}
.container .footer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .footer-section .newsletter-card {
  background-color: hsl(217, 28%, 15%);
  box-shadow: 4px 4px 19px -4px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 3rem;
  width: 50%;
  position: absolute;
  top: -10rem;
}
.container .footer-section .newsletter-card h2 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 1rem;
}
.container .footer-section .newsletter-card p {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 1rem;
  line-height: 1.5;
  font-size: 16px;
}
.container .footer-section .newsletter-card .input-area {
  margin-top: 1rem;
}
.container .footer-section .newsletter-card .input-area input {
  padding: 0.75rem 10rem;
  padding-left: 2rem;
  color: black;
  border-radius: 20px;
  border: none;
  font-family: "Open Sans", sans-serif;
}
.container .footer-section .newsletter-card .input-area .newsletter-btn {
  padding: 0.75rem 2rem;
  margin-left: 1.5rem;
  border: none;
  background: rgb(101, 226, 217);
  background: linear-gradient(90deg, rgb(101, 226, 217) 0%, rgb(51, 158, 204) 100%);
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
}
.container .footer-section .footer-area {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(216, 53%, 9%);
  padding: 5rem 15rem;
  padding-top: 10rem;
  width: 100%;
}
.container .footer-section .footer-area .area1 {
  width: 30%;
}
.container .footer-section .footer-area .area1 .logo-footer {
  width: 120px;
}
.container .footer-section .footer-area .area1 .location-icon-div {
  width: 20px;
}
.container .footer-section .footer-area .area1 .location-icon-div .location-icon {
  margin: auto;
  width: 100%;
}
.container .footer-section .footer-area .area1 .location-div {
  display: flex;
  gap: 10px;
  padding: 1.5rem 0;
}
.container .footer-section .footer-area .area1 .location-div p {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.container .footer-section .footer-area .area2 {
  width: 8rem;
  margin-top: 2rem;
}
.container .footer-section .footer-area .area2 .phone-div, .container .footer-section .footer-area .area2 .email-div {
  display: flex;
  gap: 10px;
  padding-block: 1rem;
}
.container .footer-section .footer-area .area3, .container .footer-section .footer-area .area4 {
  margin-top: 2.5rem;
  font-family: "Open Sans", sans-serif;
}
.container .footer-section .footer-area .area3 p, .container .footer-section .footer-area .area4 p {
  padding: 10px 0;
}
.container .footer-section .footer-area .area3 h5, .container .footer-section .footer-area .area4 h5 {
  font-size: 20px;
}

@media screen and (max-width: 540px) {
  .container .hero-section {
    padding-bottom: 0rem;
    background-image: url("./assets/bg-curvy-mobile.svg");
  }
  .container .hero-section .navbar {
    align-items: center;
    padding: 1rem 1.5rem;
    background-position: center;
  }
  .container .hero-section .navbar .navbar-brand {
    width: 100px;
  }
  .container .hero-section .navbar .navbar-items {
    gap: 0.75rem;
    font-size: 13px;
  }
  .container .hero-section .hero-img {
    width: 80%;
    padding-block: 1rem;
  }
  .container .hero-section h1 {
    font-size: 25px;
    width: 100%;
  }
  .container .hero-section p {
    width: 70%;
    font-size: 13px;
  }
  .container .service-section {
    padding-top: 5rem;
  }
  .container .service-section .parent {
    top: 0px;
    margin: 0%;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .container .service-section .parent .service-item {
    width: 80%;
  }
  .container .service-section .parent .service-item img {
    width: 50px;
  }
  .container .service-section .parent .service-item h3 {
    font-size: 18px;
  }
  .container .service-section .parent .service-item p {
    font-size: 13px;
    line-height: 1.5;
  }
  .container .productive-section {
    flex-direction: column;
    padding-block: 4rem;
  }
  .container .productive-section .img-div {
    width: 80%;
    margin: auto;
  }
  .container .productive-section .img-div img {
    width: 100%;
  }
  .container .productive-section .text-div {
    width: 100%;
  }
  .container .productive-section .text-div h2 {
    font-size: 18px;
    width: 100%;
  }
  .container .productive-section .text-div p {
    width: 90%;
    font-size: 13px;
  }
  .container .productive-section .see-tag {
    font-size: 13px;
  }
  .container .testimonial-section {
    flex-direction: column;
    align-items: center;
  }
  .container .testimonial-section .testimonial-card {
    width: 80%;
  }
  .container .testimonial-section .testimonial-card p {
    font-size: 13px;
    width: 100%;
    line-height: 1.5;
  }
  .container .testimonial-section .testimonial-card .nameCard {
    padding-top: 1.5rem;
  }
  .container .testimonial-section .testimonial-card .nameCard .testimonial-img {
    width: 35px;
  }
  .container .testimonial-section .testimonial-card .nameCard h6 {
    padding-top: 3px;
  }
  .container .testimonial-section .quotes-icon {
    left: 2rem;
  }
  .container .footer-section .newsletter-card {
    width: 80%;
    padding: 2rem;
    border-radius: 10px;
  }
  .container .footer-section .newsletter-card h2 {
    font-size: 20px;
  }
  .container .footer-section .newsletter-card p {
    width: 90%;
    font-size: 13px;
  }
  .container .footer-section .newsletter-card .input-area input {
    padding: 0.6rem 3rem;
    padding-left: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  .container .footer-section .newsletter-card .input-area .newsletter-btn {
    padding: 0.6rem 3rem;
    width: 15rem;
    margin-left: 0;
  }
  .container .footer-section .footer-area {
    padding: 15rem 2rem;
    padding-bottom: 5rem;
    flex-direction: column;
  }
  .container .footer-section .footer-area p {
    font-size: 13px !important;
  }
  .container .footer-section .footer-area .area1 {
    width: 100%;
  }
  .container .footer-section .footer-area .area1 .logo-footer {
    width: 100px;
  }
  .container .footer-section .footer-area .area1 .location-div p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */